{% extends 'layout.html.twig' %}

{% block main %}
    <h2>{{ idea.getTitle }}</h2>
    <div> class="description"{{ idea.getDescription }}</div>
    <div>{{ idea.getAuthor }}</div>
    <div>{{ idea.getDateCreated|date("d/m/Y") }}</div>

{% endblock %}

    {% block title %}{{ idea.getTitle }} | {{ parent() }}{% endblock %}