<nav>
    <ul>
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('test') }}">Test page</a></li>
        <li><a href="{{ path('contact') }}">Contact us</a></li>
        <li><a href="{{ path('list') }}">List of Ideas</a></li>
        <li><a href="{{ path('add') }}">Add your own idea !</a></li>
    </ul>
</nav>